@page "/customer-panel"
@inject Data.Services.ICustomerService CustomerService

<h3>CustomerPanel</h3>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>Name</th>
                <th>Adress</th>
                <th>City</th>
                <th>Region</th>
                <th>Postal Code</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
            <tr>
                @{string localId = customer.Id;
                }
                <td>@customer.Id</td>
                <td>@customer.CompanyName</td>
                <td>@customer.ContactName</td>
                <td>@customer.Address</td>
                <td>@customer.City</td>
                <td>@customer.Region</td>
                <td>@customer.PostalCode</td>
                <td>@customer.Country</td>
                <td>@customer.Phone</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-danger" @onclick="() => DeleteCustomer(localId)">Delete</button></td>
            </tr>
            }
        </tbody>
    </table>
}

