@page "/customer-panel"
@inject Data.Services.ICustomerService CustomerService

<h1>Customer Panel</h1>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>Name</th>
                <th>Adress</th>
                <th>City</th>
                <th>Region</th>
                <th>Postal Code</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    @{string localId = customer.Id;
                    }
                    <td>@customer.Id</td>
                    <td>@customer.CompanyName</td>
                    <td>@customer.ContactName</td>
                    <td>@customer.Address</td>
                    <td>@customer.City</td>
                    <td>@customer.Region</td>
                    <td>@customer.PostalCode</td>
                    <td>@customer.Country</td>
                    <td>@customer.Phone</td>
                    <td><button class="btn btn-primary" @onclick="() => EditButtonClick(localId)">Edit</button></td>
                    <td><button class="btn btn-danger" @onclick="() => DeleteCustomer(localId)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <button class="btn btn-primary mb-5" @onclick="() => AddCustomerButtonClick()">Add customer</button>
    </div>

    @if (showForm)
    {
        <h3>Customer Form</h3>
        <EditForm Model="Customer" OnSubmit="HandleSubmit">
            @*<div class="form-group">
                <label>Id</label>
                <InputText class="form-control" @bind-Value="Customer.Id"></InputText>
            </div>*@
            <div class="form-group">
                <label>Company Name</label>
                <InputText class="form-control" @bind-Value="Customer.CompanyName"></InputText>
            </div>
            <div class="form-group">
                <label>Contact Name</label>
                <InputText class="form-control" @bind-Value="Customer.ContactName"></InputText>
            </div>
            <div class="form-group">
                <label>Adress</label>
                <InputText class="form-control" @bind-Value="Customer.Address"></InputText>
            </div>
            <div class="form-group">
                <label>City</label>
                <InputText class="form-control" @bind-Value="Customer.City"></InputText>
            </div>
            <div class="form-group">
                <label>Region</label>
                <InputText class="form-control" @bind-Value="Customer.Region"></InputText>
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <InputText class="form-control" @bind-Value="Customer.PostalCode"></InputText>
            </div>
            <div class="form-group">
                <label>Country</label>
                <InputText class="form-control" @bind-Value="Customer.Country"></InputText>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <InputText class="form-control" @bind-Value="Customer.Phone"></InputText>
            </div>
            <button type="submit" class="btn btn-primary mb-5">Submit</button>
        </EditForm>
    }
}

